*{ /* define o padrão para todos os elementos de css */
    margin:0; /* margin padrao */
    padding:0; /* padding padrao*/
    font-family: Arial, Helvetica, sans-serif; /* fonte padrão */
    color:white;
}
body {
    display: flex;
    flex-direction: column; /* faz todos os elementos serem dispostos verticalmente */
    min-height: 100vh; /* faz <body> ocupar a pagina inteira */
    background-image: url('../images/Proclamacao_da_Republica_by_Benedito_Calixto_1893_alt.jpg');
    background-attachment: fixed;
}
main {
    flex: 1; /* faz o main ocupar o espaço disponível */
}
ul{
    padding-left: 15px;
}
#header { /* #header vai personalizar o cabeçalho */
    background: linear-gradient(to bottom, #306e22, #348324);
    padding: 15px;
    font-size: 20px;
    border-bottom: #ffd900 solid 5px;
}
.nav01 ul { /* vai personalizar apenas a lista, que não é alterada normalmente pela "class pai" */
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav01 li { /* vai personalizar os itens da lista */
    margin: 0 30px;
}
.nav01 a { /* vai personalizar os hyperlinks */
    text-decoration: none;
}
.nav01.selecionado{
    color: #ffd900;
}
.nav01 a:hover{
    color: #ffd900;
}
.titulo{
    text-align: center;
}
.titulo h1{
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif; /* aqui a fonte padrão é sobreposta pela escolhida */
}
.divmaior{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 50px 100px;
    text-align: center;
}
.card-texto{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 10px;
}
.card-texto a{
    text-decoration: none;
}
.card-texto a:hover{
    color: #ffd900;
}
footer {
    background: linear-gradient(to bottom, #306e22, #348324);
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-top: #ffd900 solid 5px;
}

@media (max-width: 1600px){
    .card{
        margin: 50px;
    }
}
    @media (max-width: 1350px) {
    .card{
        max-width: 40%;
        margin-right: 20px;
        margin-left: 20px;
    }
    .card img{
        width: 100%;
        height: auto;
    }
    .card-texto{
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .nav01 ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .nav01 li {
        margin: 5px 0;
    }
    .card{
        max-width: 40%;
        margin-right: 0;
    }
    .card img{
        max-width: 90%;
    }
    .card-texto{
        font-size: 15px;
        text-align: center;
    }
    .titulo h1 {
        font-size: 2.2em;
    }
}