*{ /* define o padrão para todos os elementos de css */
    margin:0; /* margin padrao */
    padding:0; /* padding padrao*/
    font-family: Arial, Helvetica, sans-serif; /* fonte padrão */
    color: white;
}
body {
    display: flex;
    flex-direction: column; /* faz todos os elementos serem dispostos verticalmente */
    min-height: 100vh; /* faz <body> ocupar a pagina inteira */
    background-image: url('../images/Proclamacao_da_Republica_by_Benedito_Calixto_1893_alt.jpg');
    background-attachment: fixed;
}
main {
    flex: 1; /* faz o main ocupar o espaço disponível */
}
ul{
    padding-left: 15px;
}
#header { /* #header vai personalizar o cabeçalho */
    background: linear-gradient(to bottom, #306e22, #348324);
    padding: 15px;
    font-size: 20px;
    border-bottom: #ffd900 solid 5px;
}
.nav01 ul { /* vai personalizar apenas a lista, que não é alterada normalmente pela "class pai" */
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav01 li { /* vai personalizar os itens da lista */
    margin: 0 30px;
}
.nav01 a { /* vai personalizar os hyperlinks */
    text-decoration: none;
}
.nav01.selecionado{
    color: #ffd900;
}
.nav01 a:hover{
    color: #ffd900;
}
.titulo{
    text-align: center;
}
.titulo h1{
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif; /* aqui a fonte padrão é sobreposta pela escolhida */
}
.titulo h2{
    font-size: 35px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.titulo h3{
    font-size: 35px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.texto-destaque {
    color: #fa161e;
}
.divmaior{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.conteudo{
    font-size: 24px;
    max-width: 800px;
    margin-top: 50px;
    margin-left: 100px;
}
.conteudo02{
    font-size: 24px;
    max-width: 1280px;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.conteudo03 {
    margin: 0 100px;
}
footer {
    background: linear-gradient(to bottom, #306e22, #348324);
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    border-top: #ffd900 solid 5px;
    margin-top: 50px;
}

@media (max-width: 1400px) {
    .conteudo{
        max-width: 500px;
        font-size: 19px;
        margin-left: 50px;
    }
    .conteudo02{
        max-width: 930px;
    }
}
@media (max-width: 950px) {
    .conteudo{
        max-width: 300px;
        font-size: 15px;
    }
    .conteudo02{
        max-width: 730px;
    }
    .titulo h2{
        font-size: 2.4em;
    }
}

@media (max-width: 800px) {
    .nav01 ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .nav01 li {
        margin: 5px 0;
    }
    .divmaior {
        margin: 15px;
        flex-direction: column;
        align-items: center;
    }
    .conteudo {
        max-width: 600px;
        margin: 15px 0;
        font-size: 20px;
    }
    .conteudo02 {
        max-width: 600px;
        margin: 15px 0;
        font-size: 20px;
    }
    .conteudo03{
        margin: 0;
    }
    .titulo h1 {
        font-size: 2.2em;
    }
    .titulo h2 {
        font-size: 2.2em;
        margin-top: 0;
    }
}